@media only screen and (min-width: 920px) {
    main,
    footer {
      width: 920px;
      margin: auto;
    }
    h1 {
      font-size: 2rem;
      margin-left: -10px;
    }
  }

  .wrapper {
    display: grid;
    gap: 0.5em;
    padding: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.pic1{
grid-column: 1/2;
}
.pic2{
grid-column: 2/3;
}
.pic3{
grid-column: 3/4;
}
.pic4{
grid-column: 1/2;
}
.pic5{
grid-column: 2/3;
}
.pic6{
grid-column: 3/4;
}
.pic7{
grid-column: 1/2;
}
.pic8{
grid-column: 2/3;
}
.pic9{
grid-column: 3/4;
}