@media only screen and (min-width: 750px) {
    nav ul.hide {
      display: block;
      display: flex;
      flex-direction: row;
    }
    button {
      display: none;
    }
  
    #logo {
      width: 125px;
    }
}  