@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

:root {
    --primary-color: #A2D6F9;
    --secondary-color: #1E96FC;
    --accent1-color: #FFC600;
    --accent2-color: #FFFFFF;
    --other-color: #E5E5E5;
    --heading-font: 'Merriweather Sans', sans-serif;
    --paragraph-font: 'Work Sans', sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#logo {
  width: 80%;
  align-self: center;
  justify-self: center;
}
.header {
  margin-left: 5px;
  justify-self: start;
  text-align: left;
}
h1 {
  font-size: 1.6rem;
}
.header p {
  margin-top: -10px;
  margin-left: 5px;
}

button {
  font-size: 10vw;
  background-color:var(--accent1-color);
  color:var(--primary-color);
  border: none;
}
nav {
  background-color:var(--accent1-color);
  margin-top: -15px;
}
nav ul {
  list-style-type: none;
  padding: 0px;
}
nav a,
nav li {
  display: block;
  color: var(--other-color);
  text-align: center;
  text-decoration: none;
  font-size: 0.95rem;
  width: 100%;

}


nav ul.hide {
  display: none;
}


body {
    background-color: var(--primary-color);
    font-size: 16px;
    overflow: hidden scroll;
    font-family: var(--paragraph-font);
}

header,
main,
footer,
nav, .bannerSaturday, body {
    min-width: 550px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: justify;
    padding: 1px;
    text-align: center;
}

.weatherSummary {
  min-height: 100%;
}

header {
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
}

main, nav {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--accent1-color);
    text-align: center;
    background-color: var(--accent1-color);
        font-family: var(--paragraph-font);
        font-size: 20px;
        padding: .8rem;
}

h1, h2, h3, h4 {
        margin: 1em;
        font-family: var(--heading-font);
    
}

p {
    text-align: center;
    margin: 1em;
    font-family: var(--paragraph-font);
}

nav ul a:hover {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
}

/* main p {
  background-color:var(--other-color);
  border: solid black 1px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
} */

.article_image {
  float: right;
  padding: 10px;
}


.article_body {
  background-color:var(--other-color);
  border: solid black 1px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

main{
  padding:0 1rem;
}

main h2 {
  text-align: center;
}

.forecast {
  text-align: center;
  padding: 10px;
}

.forecast img {
  width: 100%;
}

.article {
text-align: justify;
}

.article p {
  text-align: justify;
  width: 100%;
}
.article img {
   width: 100%;
}

.contact img {
  text-align: left;
  width: 400px;
}

.contact {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #F2D492;
  font-family: 'Roboto, Noto Sants, Baloo';
  font-size: 20px;
  padding: .8rem;
}

.contact {
  grid-row: 3/3;
}

.contact img {
  width: 100%;
}
.social {
  grid-column: 2/3;
  grid-row: 2;
}

.social img {
  width: 50px;
}

.copyright {
  grid-column: 1/4;
  align-items: center;
  padding-left: 100px;
}

.weatherSummary {
min-height: 20%;
}

.article img {
  z-index: 100;
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 0px;
  width: 300px;
}

a:focus,
    .active {
      background-color: var(--accent1-color);
        color: black;
        border-bottom: 1px solid var(--accent2-color);
        padding-bottom: .2rem;

    }


    header nav ul li a:hover {
        color: black;
    }
  

      
      .bannerSaturday {
        display: none;
        text-align: center;
        font-size: 1.5em;
        background-color: var(--accent1-color);
        color: white;
    }
    
    .bannerSaturday p {
        margin: 0;
        padding: 20px;
    }

  .herodiv {margin: 10px auto;position: relative;}
  h1, h2, p {margin: 0;}
  
.stats {
  position: absolute;
  top: 0px;
  right: 50px;
  border: 15px solid  0;
  padding: 1.5rem;
  opacity: .9;
  background-color: #FFFF;
  border: 15px solid #F8B62D;

}
.photoA {
  width: 100%;
  height: auto;

}
@media screen and (max-width: 550px) {

  body,
  header,
  main,
  footer,
  .article, .bannerSaturday, .contact, .forecast, .header, .hero, .social, .weatherSummary{
      display: block;
  }
}
#hero{
  margin: 10px auto;
  position: relative;
  max-width: 960px;
}
#hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 100%;
  height: auto;
}
.weatherSummary hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.weatherSummary{
  position: absolute;
top: 25px;
right: 50px;
background: rgba(158,183,229,.8);
padding: 25px;
box-shadow: 0 0 30px #111;
  opacity: .8;
}
.weatherSummary h3{
  margin: 0;
}
.weatherSummary p{
  line-height: 20px;
  margin: 0;
}

#hero{
  margin: 10px auto;
  position: relative;
  max-width: 960px;
}
#hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  width: 100%;
  height: auto;
}
.weatherSummary hr{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.weatherSummary{
  position: absolute;
top: 25px;
right: 50px;
background: rgba(158,183,229,.8);
padding: 25px;
box-shadow: 0 0 30px #111;
  opacity: .8;
}
.weatherSummary h3{
  margin: 0;
}
.weatherSummary p{
  line-height: 20px;
  margin: 0;
}



