@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary: #e7f0ed;
    --secondary: #e7ffed;
    --header: #628ca6;
    --foot: #7fb9c2;
  

    --font: 'Ubuntu', sans-serif;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(94, 136, 161, 0.8);
}

thead{
    background-color: var(--foot);
    font-size: 1em;
}
tfoot{
    background-color: var(--foot);
    font-size: 1em;
}

table, th, td{
    font-family: var(--font);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}

table tbody th{
    background-color: var(--header);
    color: var(--primary);
}
table tbody .row{
    background-color: var(--secondary);
}

tbody .row:nth-child(even) {
    /* background-color: #e7ffed; */
    background-color: #e7f0ed;
}

#novembergoalnumber {
    background-color: #628ca6;
    color: white;
}
