@import url("https://fonts.googleapis.com/css?family=Dosis|Quicksand");
/*COLORS */
:root {
  --primary-color: #00171F;
  --secondary-color: #003459;
  --accent1-color: #007EA7;
  --accent2-color: #00A8E8;
  --other-color: #FFFFFF;
  --heading-font: "Merriweather Sans", sans-serif;
  --paragraph-font: "Work Sans", sans-serif;
}

/*--------HEADER--------*/
header nav ul li a:hover {
    color: black;
  }

  header {
    background-color: var(--accent1-color);
    text-align: center;
    font-family: var(--heading-font);
    
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header {
    margin-left: 5px;
    justify-self: start;
    text-align: left;
  }

  .header p {
    margin-top: -10px;
    margin-left: 5px;
  }

  /*BODY*/
  body {
    background-color: var(--primary-color);
    font-size: 16px;
    overflow: hidden scroll;
    font-family: var(--paragraph-font);
}


  
 /*MAIN*/
nav {
  background-color: var(--secondary-color);
}

main article {
    margin: 2rem;
    padding: 2rem;
}

 main p {
  background-color:var(--other-color);
  border: solid black 1px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
} 
/*NAV*/
nav {
    background-color: var(--accent1-color);
    margin-top: -15px;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0px;
  }
  
  nav a,
  nav li {
    display: block;
    color: var(--other-color);
    text-align: center;
    text-decoration: none;
    font-size: 0.95rem;
    width: 100%;
  }
  
  a:focus,
  .active {
    background-color: var(--accent1-color);
    color: black;
    border-bottom: 1px solid var(--accent2-color);
    padding-bottom: 0.2rem;
  }
  
  
  
  .navigation_ul {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  
  
  .pic-hover:hover {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.75);
  }
  nav ul a:hover {
    background-color: var(--accent1-color);
    color: var(--accent3-color);
}

/*Banner Saturday */
.bannerSaturday p {
    margin: 0;
    padding: 20px;
    font-size: 1.2em;
    background-color: var(--accent1-color);
    color: white;
  
    border-radius: 15px !important;
  }

  .bannerSaturday {
    text-align: center;
    font-size: 1.5em;
    background-color: var(--accent1-color);
    color: white;
  }

  .bannerSaturday {
    display: none;
  }

  .bannerSaturday p {
    margin: 0;
    padding: 20px;
}

/*Hero*/
#hero{
    margin: 10px auto;
    position: relative;
    max-width: 960px;
  }
  #hero img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
    height: auto;
  }

 /* .hero p {
    float: right;
    width: 30%;
  
  }
  .hero img {
  width: 100%;
  height: 300px;
  }
  
  .hero {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .hero p{
    position: absolute;
    top: 10px;
    left: 10px;
  } */

/*Towns*/
.towns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
}

.towns section {
    background-color: #E1E5F2;
    padding: 0px;
}

.towns img {
    max-width: 100%;
    height: auto;
}



/*Contact*/
.contact img {
    text-align: left;
    width: 400px;
  }
  
  .contact {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #F2D492;
    font-family: 'Roboto, Noto Sants, Baloo';
    font-size: 20px;
    padding: .8rem;
    text-align: center;
  }
  
  .contact {
    grid-row: 3/3;
  }
  
  .contact img {
    width: 100%;
  }

  .contact img {
    text-align: left;
    width: 400px;
  }

/*Social*/
.social {
    grid-column: 2/3;
    grid-row: 2;
  }

  .social img {
    width: 50px;
  }

/*Logo*/
#logo {
    width: 40%;
    align-self: center;
    justify-self: center;
  }

/*Weather Summary*/
.weatherSummary {
    min-height: 100%;
  }
  .weatherSummary {
    min-height: 20%;
    }

    .weatherSummary hr{
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      .weatherSummary{
        position: absolute;
      top: 25px;
      right: 50px;
      background: rgba(158,183,229,.8);
      padding: 25px;
      box-shadow: 0 0 30px #111;
        opacity: .8;
      }
      .weatherSummary h3{
        margin: 0;
      }
      .weatherSummary p{
        line-height: 20px;
        margin: 0;
      }

/*FORECAST*/

.forecast {
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 10px;
    text-align: center;
    margin: 0 auto;
    }

    
.forecast {
    text-align: center;
    padding: 10px;
  }
  
  .forecast img {
    width: 100%;
  }

/*DayOfWeek*/
.dayofweekC {
    text-align: center;
    padding: 10px;
    border-color: black;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-collapse: collapse;
      background-color: var(--primary-color)
  }

/*Article*/
.article_body {
    border: solid black 1px;
    text-align: center;
      }

      .article_image {
        float: right;
        padding: 10px;
      }

      .article {
        text-align: justify;
        }
        
        .article p {
          text-align: justify;
          width: 100%;
        }
        .article img {
           width: 100%;
        }
        .article img {
            z-index: 100;
            position: relative;
            color: white;
            font-size: 24px;
            font-weight: bold;
            top: 0px;
            width: 300px;
          }
          
          .article_paragraph {
            margin: 0 auto;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 5px;
            padding-bottom: 10px;
          }

          article img {
            width: 200px;
          
          }
          
          article {
            margin: 50px;
            margin-bottom: 50px;
            background-color: yellow;
          }

/*Form Cotainer*/
.form-container {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #send {
    border-radius: 10px;
    padding: 5px;
    background-color: red;
    color: var(--accent1-color) !important;
    height: 45px;
    width: 100px;
    font-size: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .form-container {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  label {
    display: inline-block;
    text-align: left !important;
    margin-bottom: 0.5em;
  }
  
  input {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
  }


  button {
    font-size: 10vw;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: none;
  }
  


/*Footer*/
footer {
    text-align: center;
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
    font-size: 20px;
    padding: 0.8rem !important;
  }

  .copyright {
    grid-column: 1/4;
    align-items: center;
    padding-left: 100px;
  }

/*Container*/
.container {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

/*Images*/
.img {
    width: 100%;
  }

/*Wrapper Cities*/
.wrapper-cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
    
  }
  
  .wrapper-cities img {
    width: 100px;
    height: 100px;
  }
  
  .fish-haven {
    background-color: #ffc600;
    border-collapse:separate;
    margin: 20px;
  }
  
  .preston {
    background-color: rgb(255, 146, 146);
    border-collapse:separate;
    margin: 20px;
  }
  
  .soda-springs {
    background-color: #ffc600;
    border-collapse:separate;
    margin: 20px;
  }

/*Media Queries*/
@media (min-width: 768px) {
    header {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  
    #logo {
      width: 125px;
    }
  
    .container {
      grid-template-columns: 1fr 1fr;
    }
  
    button {
      display: none;
    }
  
    .navigation_ul {
      display: flex;
      padding: 1em;
    }
  
    nav ul.hide {
      display: block;
      display: flex;
      flex-direction: row;
    }

  }


@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
      font-size: 3rem;
  }
  h2 {
      font-size: 2.5em;
      margin-left: 20px;
  }
  nav a {
      font-size: 1.1rem;
  }

  .towns {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .towns section {
      display: block;
  }
  .towns section img {
      margin: 0;
  }
}
@media only screen and (min-width: 600px) {
  nav ul.hide {
    display: block;
    display: flex;
    flex-direction: row;
  }
  button {
    display: none;
  }

  h1 {
    font-size: 1.6rem;
  }
  header p {
    font-size: 1em;
  }

  .town-info section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .town-info section img {
    grid-column: 2/3;
    grid-row: 1/6;
  }
  .town-info section:nth-of-type(2) h2,
  .town-info section:nth-of-type(2) h3 {
    grid-column: 2/3;
  }
  .town-info section:nth-of-type(2) img {
    grid-column: 1/2;
  }
  .map {
    width: 50px;
  }
  
}

@media only screen and (min-width: 600px) {
  .town-info section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .town-info section img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .town-info section:nth-of-type(2) h2,
  .town-info section:nth-of-type(2) h3{
    grid-column: 2/3;
  }
  .town-info section:nth-of-type(2) img {
    grid-column: 1/2;
  }
  
}


/* Media Queries */
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #logo {
    width: 125px;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }

  button {
    display: none;
  }

  .navigation_ul {
    display: flex;
    padding: 1em;
  }

  nav ul.hide {
    display: block;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 550px) {

  body,
  header,
  main,
  footer,
  .article, .bannerSaturday, .contact, .forecast, .header, .hero, .social, .weatherSummary{
      display: block;
  }
}

/*-------Titles & Paragraph-------------*/
h1 {
  font-size: 1.6rem;
}
h1, h2, h3, h4 {
        margin: 1em;
        font-family: var(--heading-font);
        color: var(--other-color);
        text-align: center;
    
}

p {
    text-align: center;
    margin: 1em;
    font-family: var(--paragraph-font);
}

.towns h2 {
  color: black;
}

/*Media Queries*/
@media only screen and (min-width: 900px) {
  main,
  footer {
    width: 900px;
    margin: auto;
  }
  h1 {
    font-size: 2rem;
    margin-left: -10px;
  }
}

@media only screen and (min-width: 550px) {
  nav ul.hide {
    display: block;
    display: flex;
    flex-direction: row;
  }
  button {
    display: none;
  }

  #logo {
    width: 125px;
  }

}